Repository theislab/spapros: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

deploy: 19b9a42bca6ac1ffab4cf600361b1e4f2c2aba9c
  _sources/_tutorials/spapros_tutorial_advanced_evaluation.ipynb.txt
  _sources/_tutorials/spapros_tutorial_basic_evaluation.ipynb.txt
  _sources/_tutorials/spapros_tutorial_end_to_end_selection.ipynb.txt
  _tutorials/spapros_tutorial_advanced_evaluation.html
  _tutorials/spapros_tutorial_advanced_evaluation.ipynb
  _tutorials/spapros_tutorial_basic_evaluation.html
  _tutorials/spapros_tutorial_basic_evaluation.ipynb
  _tutorials/spapros_tutorial_end_to_end_selection.html
  _tutorials/spapros_tutorial_end_to_end_selection.ipynb
  objects.inv
  searchindex.js
Due: end-of-file-fixer

resolve merge conflict
  poetry.lock
  spapros/__init__.py
  spapros/plotting/plot.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Adjust eval tutorials display
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
Due: none

deploy: cf96c776ad0dc3c958d8c537fe88b4e5a0b88433
  _images/_tutorials_spapros_tutorial_basic_evaluation_3_0.png
  _sources/_tutorials/spapros_tutorial_advanced_evaluation.ipynb.txt
  _sources/_tutorials/spapros_tutorial_basic_evaluation.ipynb.txt
  _tutorials/spapros_tutorial_advanced_evaluation.html
  _tutorials/spapros_tutorial_advanced_evaluation.ipynb
  _tutorials/spapros_tutorial_basic_evaluation.html
  _tutorials/spapros_tutorial_basic_evaluation.ipynb
  objects.inv
  searchindex.js
Due: end-of-file-fixer

Provide only xgboost eval_metric only once, resolve issue 233
  spapros/evaluation/metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Delete probedesign functions
  spapros/design/data/ensemble_gene_list.txt
  spapros/design/data/ncbi_gene_list.txt
  spapros/design/get_overlap_matrix.py
  spapros/design/probedesign.py
  spapros/design/probedesign.yaml
  spapros/design/setup.py
  spapros/design/src/__init__.py
  spapros/design/src/datamodule.py
  spapros/design/src/probefilter.py
  spapros/design/src/utils.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Add note to install instructions
  README.rst
  docs/installation.rst
Due: end-of-file-fixer

Bump version from 0.1.0 to 0.1.1
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  pyproject.toml
  spapros/__init__.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

cookietemple sync
  .cookietemple.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/build_package.yml
  .github/workflows/constraints.txt
  .github/workflows/main_master_branch_protection.yml
  .github/workflows/master_branch_protection.yml
  .github/workflows/publish_package.yml
  .github/workflows/release_drafter.yml
  .github/workflows/run_cookietemple_lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
  .pre-commit-config.yaml
  AUTHORS.rst
  LICENSE
  README.rst
  cookietemple.cfg
  docs/_static/custom_cookietemple.css
  docs/authors.rst
  docs/changelog.rst
  docs/conf.py
  docs/contributing.rst
  docs/index.rst
  docs/requirements.txt
  makefiles/Linux.mk
  makefiles/Windows.mk
  mypy.ini
  noxfile.py
  spapros/__init__.py
  spapros/__main__.py
  spapros/py.typed
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

minor changes on plots
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  spapros/plotting/_masked_dotplot.py
  spapros/plotting/plot.py
  spapros/selection/selection_procedure.py
  tests/conftest.py
  tests/evaluation/test_data/evaluation_results_4_sets/adata1_summary.csv
  tests/plotting/test_data/evaluation_plot_cluster_similarity_{}.png
  tests/plotting/test_data/evaluation_plot_coexpression_{}.png
  tests/plotting/test_data/evaluation_plot_confusion_matrix_{}.png
  tests/plotting/test_data/evaluation_plot_correlation_matrix_{}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_{'set_ids': None, 'selections_info': 'selections_info_1'}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_{'set_ids': None, 'selections_info': 'selections_info_2'}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_{'set_ids': ['ref_DE', 'ref_PCA', 'spapros_selection'], 'selections_info': None}.png
  tests/plotting/test_data/masked_dotplot.png
  tests/plotting/test_data/selection_plot_classification_rule_umaps_till_rank_5_imp_th_03.png
  tests/plotting/test_data/selection_plot_clf_genes_till_rank_3_imp_th_03_n_cols_3.png
  tests/plotting/test_data/selection_plot_clf_genes_till_rank_5_imp_th_03.png
  tests/plotting/test_data/selection_plot_coexpression_marker_wo_cbar.png
  tests/plotting/test_data/selection_plot_coexpression_n_cols_1_unscaled.png
  tests/plotting/test_data/selection_plot_coexpression_n_cols_3_scaled.png
  tests/plotting/test_data/selection_plot_gene_overlap_upset.png
  tests/plotting/test_data/selection_plot_gene_overlap_venn.png
  tests/plotting/test_data/selection_plot_histogram_default.png
  tests/plotting/test_data/selection_plot_histogram_marker_w_bg.png
  tests/plotting/test_data/selection_plot_histogram_marker_w_bg_all.png
  tests/plotting/test_data/selection_plot_histogram_marker_w_penal.png
  tests/plotting/test_data/selection_plot_masked_dotplot_default.png
  tests/plotting/test_data/selection_plot_masked_dotplot_top10_markers.png
  tests/plotting/test_plotting.py
  tests/selection/test_methods.py
  tests/selection/test_selection_frame.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

fixed windows path bug (removed '/')
  .readthedocs.yml
  docs/README.md
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_basic_selection.ipynb
  docs/conf.py
  docs/ev/spapros.ev.ProbesetEvaluator.rst
  docs/se/spapros.se.ProbesetSelector.rst
  docs/usage.rst
  noxfile.py
  spapros/design/get_overlap_matrix.py
  spapros/design/probedesign.py
  spapros/design/src/datamodule.py
  spapros/design/src/probefilter.py
  spapros/design/src/utils.py
  spapros/evaluation/__init__.py
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  spapros/plotting/plot.py
  spapros/selection/selection_procedure.py
  tests/conftest.py
  tests/plotting/test_plotting.py
  tests/selection/test_data/selector_with_penalties/marker_list/marker_list.txt
  tests/selection/test_selection_frame.py
  tutorials/spapros_tutorial_basic_selection.ipynb
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Fix metaclass error #253
  spapros/plotting/_masked_dotplot.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Bump version from 0.1.1 to 0.1.2
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  pyproject.toml
  spapros/__init__.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

parameter bug fix
  spapros/util/util.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

add content of end-toend tutorial
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
Due: none

Fix memory leak via garbage collection
  spapros/evaluation/evaluation.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Support forest_clfs metric for datasets with only 2 cell types
  spapros/evaluation/metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Bump version from 0.1.2 to 0.1.3
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  pyproject.toml
  spapros/__init__.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

bug fix set selection
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
Due: none

correct spelling mistakes
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
Due: none

added description
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Add dev files to gitignore
  .gitignore
Due: end-of-file-fixer

Add time measurement for selection steps
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Delete leidenalg install instructions for previous issue in README
  README.rst
Due: end-of-file-fixer

Delete leidenalg install instructions for previous issue in docs
  docs/installation.rst
Due: none

Fix deprecation warning, use pd.concat instead of append
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Add use_raw argument to masked_dotplot
  spapros/plotting/plot.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Also load probeset table when initializing Selector
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Save forest results in case that the pca forest doesn't need genes from DE forest
  spapros/selection/selection_methods.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Convert NaNs to empty strings when loading probeset csv
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Add a note that clarifies the scores in selector.plot_clf_genes
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Bug fix n_pcs for knn_overlap
  spapros/evaluation/metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Little adjustments to end to end tutorial
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
Due: none

Add short tutorial and adjust long end to end tutorial
  docs/_tutorials/spapros_tutorial_end_to_end_selection_short.ipynb
Due: none

Add short tutorial
  docs/tutorials.rst
Due: none

Resolve merge conflicts
  .github/workflows/build_package.yml
Due: check-yaml, end-of-file-fixer

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  reorder-python-imports: any of: \.py$
