Repository theislab/spapros: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
          - id: reorder-python-imports
            name: Reorder python imports
            entry: reorder-python-imports
            language: system
            types: [python]
            args: [--application-directories=src]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
    - repo: https://github.com/prettier/pre-commit
      rev: 57f39166b5a5a504d6808b87ab98d41ebf095b46
      hooks:
          - id: prettier

Adjust end to end tutorial headers
  docs/_tutorials/spapros_tutorial_end_to_end_selection_short.ipynb
Due: none

Adjust docs
  docs/_static/custom_cookietemple.css
  requirements.txt
Due: end-of-file-fixer

Pre commit adjustments, isort and black version updates
  .github/workflows/publish_package.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/README.md
  docs/_static/custom_cookietemple.css
  docs/api.rst
  docs/conf.py
  docs/usage.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements_dev.yaml
  spapros/__init__.py
  spapros/__main__.py
  spapros/evaluation/__init__.py
  spapros/evaluation/evaluation.py
  spapros/evaluation/evaluation_pipeline.py
  spapros/evaluation/metrics.py
  spapros/plotting/__init__.py
  spapros/plotting/_masked_dotplot.py
  spapros/plotting/plot.py
  spapros/selection/__init__.py
  spapros/selection/selection.py
  spapros/selection/selection_methods.py
  spapros/selection/selection_procedure.py
  spapros/util/__init__.py
  spapros/util/mp_util.py
  spapros/util/util.py
  tests/conftest.py
  tests/evaluation/test_metrics.py
  tests/plotting/test_plotting.py
  tests/selection/test_methods.py
  tests/selection/test_selection_frame.py
  tests/test_main.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Bump version from 0.1.3 to 0.1.4
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  pyproject.toml
  spapros/__init__.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Disable pdf generation for docs
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

poetry lock and update requirements accordingly for docs
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer

Fix lines in requirements
  requirements.txt
Due: end-of-file-fixer

Delete pywin from requirements to fix docs build fail
  requirements.txt
Due: end-of-file-fixer

Mention python package in docs
  docs/index.rst
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Hide first cell in short e2e tutorial
  docs/_tutorials/spapros_tutorial_end_to_end_selection_short.ipynb
Due: none

deploy: c4c0903758ecb1acd0e16c1d227e59e8be1e28de
  _sources/index.rst.txt
  index.html
  se/spapros.se.ProbesetSelector.plot_clf_genes.html
  searchindex.js
Due: end-of-file-fixer

Move to pthon 3.9 and 3.10, update dependencies and type hints
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  spapros/plotting/_masked_dotplot.py
  spapros/plotting/plot.py
  spapros/selection/selection.py
  spapros/selection/selection_methods.py
  spapros/selection/selection_procedure.py
  spapros/util/mp_util.py
  spapros/util/util.py
  tests/evaluation/test_evaluation_frame.py
  tests/evaluation/test_metrics.py
  tests/selection/test_selection_frame.py
Due: black, check-toml, end-of-file-fixer, flake8, reorder-python-imports

Resolve dependencies for vulnerabilities
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer

Resolve pre commit after dependency updates
  noxfile.py
  spapros/evaluation/metrics.py
  spapros/plotting/plot.py
  spapros/selection/selection_procedure.py
  spapros/util/mp_util.py
  tests/conftest.py
  tests/evaluation/test_evaluation_frame.py
  tests/evaluation/test_metrics.py
  tests/test_main.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Update dependencies and fix tests
  .gitignore
  poetry.lock
  pyproject.toml
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  spapros/plotting/plot.py
  spapros/selection/selection_procedure.py
  tests/README.md
  tests/conftest.py
  tests/evaluation/test_data/evaluation_results_4_sets/adata1_summary.csv
  tests/evaluation/test_data/knn_df.csv
  tests/evaluation/test_data/knn_df_[10, 20]_['PPBP', 'S100A9', 'LYZ', 'BLVRB'].csv
  tests/evaluation/test_data/knn_df_[10, 20]_['PPBP', 'SPARC', 'S100A8'].csv
  tests/evaluation/test_data/knn_df_[10, 20]_all.csv
  tests/evaluation/test_data/knn_df_[5, 9]_['PPBP', 'S100A9', 'LYZ', 'BLVRB'].csv
  tests/evaluation/test_data/knn_df_[5, 9]_['PPBP', 'SPARC', 'S100A8'].csv
  tests/evaluation/test_data/knn_df_[5, 9]_all.csv
  tests/evaluation/test_data/xgboost_forest_classification_0.csv
  tests/evaluation/test_data/xgboost_forest_classification_1.csv
  tests/evaluation/test_evaluation_frame.py
  tests/evaluation/test_metrics.py
  tests/plotting/test_data/evaluation_plot_cluster_similarity_{}.png
  tests/plotting/test_data/evaluation_plot_coexpression_{}.png
  tests/plotting/test_data/evaluation_plot_confusion_matrix_{}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_{'set_ids': None, 'selections_info': 'selections_info_1'}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_{'set_ids': None, 'selections_info': 'selections_info_2'}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_{'set_ids': ['ref_DE', 'ref_PCA', 'spapros_selection'], 'selections_info': None}.png
  tests/plotting/test_data/masked_dotplot.png
  tests/plotting/test_data/selection_plot_clf_genes_{'till_rank': 2, 'importance_th': 0.8}.png
  tests/plotting/test_data/selection_plot_coexpression_{'selections': None, 'n_cols': 1}.png
  tests/plotting/test_data/selection_plot_coexpression_{'selections': None, 'n_cols': 3}.png
  tests/plotting/test_data/selection_plot_coexpression_{'selections': ['marker'], 'colorbar': False}.png
  tests/plotting/test_data/selection_plot_gene_overlap_{'style': 'upset'}.png
  tests/plotting/test_data/selection_plot_gene_overlap_{'style': 'venn'}.png
  tests/plotting/test_data/tmp_plot_summary.png
  tests/plotting/test_plotting.py
  tests/selection/test_methods.py
  tests/selection/test_selection_frame.py
Due: black, check-toml, end-of-file-fixer, flake8, reorder-python-imports

Update python version in github actions
  .github/workflows/build_package.yml
  .github/workflows/master_branch_protection.yml
  .github/workflows/publish_docs.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
Due: check-yaml, end-of-file-fixer

Correct false python version specifications
  .github/workflows/build_package.yml
  .github/workflows/main_master_branch_protection.yml
Due: check-yaml, end-of-file-fixer

Adjust test output file names for windows compatibility
  tests/plotting/test_data/evaluation_plot_cluster_similarity_.png
  tests/plotting/test_data/evaluation_plot_coexpression_.png
  tests/plotting/test_data/evaluation_plot_confusion_matrix_.png
  tests/plotting/test_data/evaluation_plot_correlation_matrix_{}.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_set_ids-None_selections_info-selections_info_1.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_set_ids-None_selections_info-selections_info_2.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_set_ids-ref_DE_ref_PCA_spapros_selection_selections_info-None.png
  tests/plotting/test_data/plot_summary.png
  tests/plotting/test_data/selection_plot_clf_genes_{'till_rank': 2, 'importance_th': 0.8}.png
  tests/plotting/test_data/selection_plot_coexpression_selections-None_n_cols-1.png
  tests/plotting/test_data/selection_plot_coexpression_selections-None_n_cols-3.png
  tests/plotting/test_data/selection_plot_coexpression_selections-marker_colorbar-False.png
  tests/plotting/test_data/selection_plot_gene_overlap_style-upset.png
  tests/plotting/test_data/selection_plot_gene_overlap_style-venn.png
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Adjust based on pre-commit
  tests/README.md
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Update build docs requirements based on poetry export
  .gitignore
  requirements.txt
Due: end-of-file-fixer

Delete pywin from docs requirements
  requirements.txt
Due: end-of-file-fixer

Remove docs-build nox session, since it does not reproduce errors locally, we still have the publish docs action that also builds docs
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Use Path in tests to get windows compatible file paths
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

pre commit
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Change location of saved files for tests to get windows compatibility
  .gitignore
  tests/conftest.py
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Set dpi to 40 for plot tests
  tests/plotting/test_data/evaluation_plot_cluster_similarity_.png
  tests/plotting/test_data/evaluation_plot_coexpression_.png
  tests/plotting/test_data/evaluation_plot_confusion_matrix_.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_set_ids-None_selections_info-selections_info_1.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_set_ids-None_selections_info-selections_info_2.png
  tests/plotting/test_data/evaluation_plot_knn_overlap_set_ids-ref_DE_ref_PCA_spapros_selection_selections_info-None.png
  tests/plotting/test_data/masked_dotplot.png
  tests/plotting/test_data/selection_plot_coexpression_selections-None_n_cols-1.png
  tests/plotting/test_data/selection_plot_coexpression_selections-None_n_cols-3.png
  tests/plotting/test_data/selection_plot_coexpression_selections-marker_colorbar-False.png
  tests/plotting/test_data/selection_plot_gene_overlap_style-upset.png
  tests/plotting/test_data/selection_plot_gene_overlap_style-venn.png
  tests/plotting/test_data/tmp_plot_summary.png
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Adjust matplotlib backend for testing
  tests/plotting/test_data/evaluation_plot_confusion_matrix_.png
  tests/plotting/test_data/masked_dotplot.png
  tests/plotting/test_data/selection_plot_gene_overlap_style-upset.png
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Neglect order of neighbors in knn test and add tolerance for max marker correlation test
  tests/evaluation/test_metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Add tolerance in max marker correlation to account for precision errors
  spapros/evaluation/metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Bump version from 0.1.4 to 0.1.5
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  pyproject.toml
  spapros/__init__.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Update basic evaluation tutorial
  docs/_tutorials/abstract_figures/fig1_benchmark.png
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
Due: none

Adjust advanced eval tutorial
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
Due: none

deploy: 5ef1847ce35dd14009160acf073e9190c27c608a
  _images/_tutorials_spapros_tutorial_advanced_evaluation_19_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_20_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_23_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_25_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_26_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_28_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_30_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_31_0.png
  _images/_tutorials_spapros_tutorial_advanced_evaluation_33_0.png
  _images/_tutorials_spapros_tutorial_basic_evaluation_18_0.png
  _images/_tutorials_spapros_tutorial_basic_evaluation_19_0.png
  _sources/_tutorials/spapros_tutorial_advanced_evaluation.ipynb.txt
  _sources/_tutorials/spapros_tutorial_basic_evaluation.ipynb.txt
  _tutorials/spapros_tutorial_advanced_evaluation.html
  _tutorials/spapros_tutorial_advanced_evaluation.ipynb
  _tutorials/spapros_tutorial_basic_evaluation.html
  _tutorials/spapros_tutorial_basic_evaluation.ipynb
  objects.inv
  searchindex.js
  tutorials.html
Due: end-of-file-fixer

Update .readthedocs.yml
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

pre commit correction of readthedocs.yml
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

adapter tutorials to new framework
  docs/_tutorials/data/genomic_region_generator_ncbi.yaml
  docs/_tutorials/data/scrinshot_probe_designer.yaml
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
  docs/_tutorials/spapros_tutorial_end_to_end_selection_short.ipynb
Due: check-yaml

adapt to new oligo-designer toolsuite package
  docs/_tutorials/data/scrinshot_probe_designer.yaml
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
Due: check-yaml
