Repository theislab/spapros: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

update notebook to pipeline changes
  docs/_tutorials/spapros_tutorial_end_to_end_selection_short.ipynb
Due: none

Update readme
  README.md
  README.rst
  docs/_static/fig1a.png
  docs/_static/fig1ab.png
  docs/_static/fig1c.png
  docs/_static/fig2a.png
  docs/_static/fig2b.png
Due: end-of-file-fixer

deploy: 1ea8b70a967e68624e7aa0f92af71ecd066b5de8
  .buildinfo
  _static/fig1a.png
  _static/fig1ab.png
  _static/fig1c.png
  _static/fig2a.png
  _static/fig2b.png
  _static/sg_gallery.css
Due: end-of-file-fixer

deploy: 1ec08e6809978021e7ad0d7b7ce4f5412f391f79
  _sources/_tutorials/spapros_tutorial_end_to_end_selection.ipynb.txt
  _sources/_tutorials/spapros_tutorial_end_to_end_selection_short.ipynb.txt
  _tutorials/spapros_tutorial_end_to_end_selection.html
  _tutorials/spapros_tutorial_end_to_end_selection.ipynb
  _tutorials/spapros_tutorial_end_to_end_selection_short.html
  _tutorials/spapros_tutorial_end_to_end_selection_short.ipynb
  objects.inv
  searchindex.js
Due: end-of-file-fixer

prints for identifying mem issues
  spapros/evaluation/evaluation.py
  spapros/selection/selection_procedure.py
  spapros/util/util.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

update to python 3.13
  .pre-commit-config.yaml
  README.md
  docs/_tutorials/data/genomic_region_generator_ncbi.yaml
  docs/_tutorials/data/scrinshot_probe_designer.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  spapros/selection/selection_methods.py
  spapros/selection/selection_procedure.py
  tests/plotting/test_data/evaluation_plot_cluster_similarity_.png
  tests/plotting/test_data/masked_dotplot.png
  tests/plotting/test_plotting.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

pre-commit nox
  .github/workflows/run_tests.yml
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  docs/ev/spapros.ev.ProbesetEvaluator.rst
  docs/se/spapros.se.ProbesetSelector.rst
  noxfile.py
  poetry.lock
  tests/test_main.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

action update
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

python version updated
  .github/workflows/run_tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

fix masked_dotplot test
  spapros/plotting/plot.py
  tests/plotting/test_plotting.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Fix test_evaluation_plots: exclude celltype column from taking mean in summary_marker_corr. For this add the ct_key to the metric params.
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

skip cli test
  tests/test_main.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

updated plot because 2 pixels changed
  tests/plotting/test_data/evaluation_plot_cluster_similarity_.png
Due: end-of-file-fixer

excluded cli test
  tests/test_main.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

small test fix
  tests/conftest.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

update tests for leiden clustering changes in scanpy
  tests/evaluation/test_metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

workflows update, lint etc
  .github/workflows/build_package.yml
  .github/workflows/labeler.yml
  .github/workflows/main_master_branch_protection.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_package.yml
  .github/workflows/run_cookietemple_lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
  .pre-commit-config.yaml
  README.md
  docs/_tutorials/data/genomic_region_generator_ncbi.yaml
  docs/_tutorials/data/scrinshot_probe_designer.yaml
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  noxfile.py
  poetry.lock
  requirements.txt
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  spapros/selection/selection_methods.py
  spapros/selection/selection_procedure.py
  tests/plotting/test_plotting.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Update Python version requirement to include 3.11
  pyproject.toml
Due: check-toml, end-of-file-fixer

Adjust python versions in gh actions
  .github/workflows/main_master_branch_protection.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_package.yml
  .github/workflows/run_cookietemple_lint.yml
  .github/workflows/run_tests.yml
  .github/workflows/sync_project.yml
  poetry.lock
  tests/evaluation/test_metrics.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Add missing python version updates
  .github/workflows/build_package.yml
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

Add poetry plugin export in gh actions env
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Add poetry plugin export also in coverage
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Try pip instead of pipx for peotry export plugin
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Remove safety from github actions as login is needed now
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Install libomp for mac, reduce test matrix, inject poetry plugin
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Reduce tests to macos env as nieghbours graph is os dependent
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Train trees on sparse matrix, and fix some warnings
  .github/workflows/run_tests.yml
  spapros/evaluation/evaluation.py
  spapros/selection/selection_procedure.py
  spapros/util/util.py
  tests/evaluation/test_metrics.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Add test data saved with anndata 0.12, and fix some warnings
  spapros/evaluation/evaluation.py
  spapros/evaluation/metrics.py
  tests/selection/test_data/adata_pbmc3k.h5ad
  tests/selection/test_data/small_data_raw_counts.h5ad
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Reset values in test_clustering_nmis
  tests/evaluation/test_metrics.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Reformat according pre commit
  .github/workflows/run_tests.yml
  spapros/evaluation/evaluation.py
  tests/evaluation/test_metrics.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Disable coverage upload in gh actions
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer

Set version to 0.1.6
  .github/release-drafter.yml
  cookietemple.cfg
  docs/conf.py
  spapros/__init__.py
Due: black, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  reorder-python-imports: any of: \.py$
