Repository theislab/spapros: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, reorder-python-imports

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
          - id: reorder-python-imports
            name: Reorder python imports
            entry: reorder-python-imports
            language: system
            types: [python]
            args: [--application-directories=src]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
    - repo: https://github.com/prettier/pre-commit
      rev: 57f39166b5a5a504d6808b87ab98d41ebf095b46
      hooks:
          - id: prettier

Correct link to docs
  README.rst
Due: end-of-file-fixer

Try .readthedocs.yml install setups to build docs properly
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

Create requirements.txt for docs
  docs/README.md
  docs/readme.rst
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: end-of-file-fixer

Create requirements.txt for docs
  docs/README.md
  requirements.txt
Due: end-of-file-fixer

Adjust certifi version
  requirements.txt
Due: end-of-file-fixer

Fix requirements.txt
  requirements.txt
Due: end-of-file-fixer

Use pandoc container to properly build ipynbs when building docs
  .github/workflows/publish_docs.yml
Due: check-yaml, end-of-file-fixer

Install pandoc in publish_docs.yml to properly build ipynbs when building docs
  .github/workflows/publish_docs.yml
Due: check-yaml, end-of-file-fixer

Recreate readme.rst
  docs/readme.rst
Due: none

Update .readthedocs.yml
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

Throw out pywinpty in requirements.txt
  requirements.txt
Due: end-of-file-fixer

Update tutorials.rst
  docs/tutorials.rst
Due: none

Change sphinx version in requirements.txt
  requirements.txt
Due: end-of-file-fixer

Specify dependency versions for doc specific packages
  docs/requirements.txt
Due: none

Adjust config to fix rtd display
  docs/conf.py
Due: black, flake8, reorder-python-imports

Delete install constraints in publish package WF
  .github/workflows/publish_package.yml
Due: check-yaml, end-of-file-fixer

Enable manual activation of publish package WF
  .github/workflows/publish_package.yml
Due: check-yaml, end-of-file-fixer

Activate cookietemple sync
  cookietemple.cfg
Due: end-of-file-fixer

Update Usage in docs
  docs/usage.rst
Due: none

Clean up api docs
  docs/api.rst
Due: none

Clean up docs
  CHANGELOG.rst
  docs/authors.rst
  docs/cli.rst
  docs/index.rst
  docs/reference.rst
Due: end-of-file-fixer

Fix tutorial gallery thumbnails
  docs/_static/custom_cookietemple.css
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_advanced_selection.ipynb
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_basic_selection.ipynb
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
  docs/conf.py
  docs/requirements.txt
  requirements.txt
Due: black, end-of-file-fixer, flake8, reorder-python-imports

Set sphinx_gallery version to 0.10.1 for proper tutorial gallery display
  docs/requirements.txt
Due: none

deploy: e6601bf97df48d62bd4faedaf0265da0d8a21c02
  _static/sg_gallery-dataframe.css
  _static/sg_gallery-rendered-html.css
  _static/sg_gallery.css
Due: end-of-file-fixer

Update tutorials
  docs/_tutorials/abstract_figures/end_to_end.png
  docs/_tutorials/abstract_figures/probeset_selection.png
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_advanced_selection.ipynb
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_basic_selection.ipynb
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
  spapros/selection/selection_procedure.py
Due: black, end-of-file-fixer, flake8, reorder-python-imports

deploy: c6bf6f4771e833c9a6a537d33899e86919291cc0
  _images/_tutorials_spapros_tutorial_advanced_selection_37_1.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_2.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_3.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_4.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_6.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_7.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_8.png
  _images/_tutorials_spapros_tutorial_advanced_selection_37_9.png
  _images/_tutorials_spapros_tutorial_advanced_selection_41_0.png
  _images/_tutorials_spapros_tutorial_advanced_selection_46_0.png
  _images/_tutorials_spapros_tutorial_advanced_selection_56_0.png
  _images/_tutorials_spapros_tutorial_advanced_selection_56_1.png
  _images/_tutorials_spapros_tutorial_advanced_selection_59_0.png
  _images/_tutorials_spapros_tutorial_basic_evaluation_19_0.png
  _images/_tutorials_spapros_tutorial_basic_evaluation_3_0.png
  _images/_tutorials_spapros_tutorial_basic_selection_21_0.png
  _images/_tutorials_spapros_tutorial_basic_selection_24_0.png
  _images/_tutorials_spapros_tutorial_basic_selection_9_0.png
  _sources/_tutorials/spapros_tutorial_advanced_evaluation.ipynb.txt
  _sources/_tutorials/spapros_tutorial_advanced_selection.ipynb.txt
  _sources/_tutorials/spapros_tutorial_basic_evaluation.ipynb.txt
  _sources/_tutorials/spapros_tutorial_basic_selection.ipynb.txt
  _sources/_tutorials/spapros_tutorial_end_to_end_selection.ipynb.txt
  _tutorials/spapros_tutorial_advanced_evaluation.ipynb
  _tutorials/spapros_tutorial_advanced_selection.html
  _tutorials/spapros_tutorial_advanced_selection.ipynb
  _tutorials/spapros_tutorial_basic_evaluation.html
  _tutorials/spapros_tutorial_basic_evaluation.ipynb
  _tutorials/spapros_tutorial_basic_selection.html
  _tutorials/spapros_tutorial_basic_selection.ipynb
  _tutorials/spapros_tutorial_end_to_end_selection.html
  _tutorials/spapros_tutorial_end_to_end_selection.ipynb
  objects.inv
  searchindex.js
  tutorials.html
Due: end-of-file-fixer

Add coming update note to tutorials in progress
  docs/_tutorials/spapros_tutorial_advanced_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_basic_evaluation.ipynb
  docs/_tutorials/spapros_tutorial_end_to_end_selection.ipynb
Due: none
